.CalendarDay__selected {
  background: #337ab7 !important;
}
.CalendarDay__highlighted_calendar:hover {
  background: #337ab7 !important;
}

.CalendarDay__highlighted_calendar:active {
  background: #337ab7 !important;
}
.CalendarDay__selected_span {
  background: #d8e1e5 !important;
  border:1px solid #ffffff !important;
}
.DateInput_input__focused {
  border-bottom: 2px solid #337ab7 !important;
}
.DayPickerKeyboardShortcuts_show__bottomRight {
  border-right: 33px solid #337ab7 !important;
}
.DateRangePicker {
  display: block !important;
  text-align: center !important;
}
