.w-1200 {
  width: 90%;
  max-width: 1200px;
  display: block;
  margin: 2em auto;
}
.button {
  background-color: #fff;
  border: 1px solid #ebebeb !important;
  padding: 5px;
  border-radius: 3px;
  display: block;
  margin: 1em auto;
}
.button:hover {
  background-color: #337ab7;
  color: #fff !important;
}
.inline {
  display: inline-block;
  width: 33%;
  float: left;
}
.input {
  height: 150px;
}
.center {
  display: block !important;
  margin: 1em auto !important;
  float: none !important;
}
label {
  display: block !important;
  text-align: center;
}
input {
  border-top: none!important;
  border-right: none!important;
  border-bottom: 2px solid #ebebeb!important;
  border-left: none!important;
  display: block;
  margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.header {
  text-align: center;
  display: block;
  margin: 2em auto;
  font-size: 2em;
}
.btn-group {
    display: block !important;
}
